.cart {
  width: auto !important;
  max-width: 90%;
  text-align: center;
}

.head {
  width: 100% !important;
  font-size: 24px !important;
}

thead > tr > th {
  font-size: 24px !important;
}

.clear {
  width: 150px;
  margin: 0 auto !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.item {
  margin: 5px 0;
}

.item > * {
  font-size: 24px !important;
}

.image {
  width: 70px;
  height: auto;
  margin: 0 auto !important;
}

@media (max-width: 800px) {
  .head {
    font-size: 16px !important;
  }

  .item > * {
    font-size: 16px !important;
  }

  thead > tr > th {
    font-size: 16px !important;
  }
}
