.box {
  max-width: 300px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 8px;

  color: var(--secondary-text-color) !important;

  border: 1px dashed var(--secondary-text-color);
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px 10px 0 0;

  transition: all 0.2s ease-in-out;
}

.header:hover {
  text-decoration: underline;
  color: var(--main-bg-color) !important;
  background-color: var(--secondary-text-color) !important;
  cursor: pointer;
}

.main {
  height: 150px;
  display: block;

  width: 100%;
  padding: 20px;

  color: var(--secondary-text-color) !important;
  text-align: center;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);

  overflow-y: auto;
  scrollbar-color: #999999, transparent;
}

.main::-webkit-scrollbar {
  width: 4px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.main::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 6px;
}

.footer {
  color: var(--secondary-text-color) !important;
  border-radius: 0 0 10px 10px;
}

@media (max-width: 767px) {
  .box {
    max-width: 400px;
    margin: 0 16px;
  }

  .main {
    padding: 12px;
    height: 120px;
  }

  .header {
    height: 40px;
  }

  .code {
    font-size: 18px !important;
  }
}

@media (max-width: 450px) {
  .box {
    max-width: 300px;
  }
}
