.item {
  margin: 5px 0;
}

.item > * {
  font-size: 24px !important;
}

.itemName {
  font-size: 18px !important;
}

.imageWrapper {
  padding: 5px !important;
  display: flex;
}

.image {
  width: 100px;
  height: auto;
  margin: 0 auto !important;
}
