:root {
  --main-bg-color: #41596e;
  --secondary-bg-color: #cfccd6;
  --primary-text-color: #37393a;
  --secondary-text-color: #fff;
  --main-invalid-color: #ff6464;
}

.form {
  box-sizing: border-box;
  width: 860px;
  margin-top: 40px;
  padding: 40px 100px;

  color: var(--primary-text-color);
  text-align: center;

  background-color: var(--main-bg-color);
  border-radius: 10px;
}

.formText {
  color: var(--secondary-text-color);
  text-align: center;
}

.inputs {
  width: 100%;
  margin: 0;
  margin-top: 40px;

  text-align: center;
}

.checkbox {
  color: white;
}

.button:hover {
  background-color: var(--primary-text-color);
  color: var(--secondary-bg-color);
}
