:root {
  --main-bg-color: #41596e;
  --secondary-bg-color: #cfccd6;
  --primary-text-color: #37393a;
  --secondary-text-color: #fff;
  --main-invalid-color: #ff6464;
}

.form {
  box-sizing: border-box;
  width: 660px;
  margin-top: 40px;
  padding: 40px 50px;

  color: var(--primary-text-color);
  text-align: center;

  border-radius: 10px;
}

.formText {
  color: var(--primary-text-color);
  text-align: center;
}

.inputs {
  width: 100%;
  margin: 0;
  margin-top: 40px !important;

  text-align: center;
}

.error {
  background-color: black;
  color: red;
}

.date {
  width: 80% !important;
}

.checkbox {
  color: var(--primary-text-color);
}

.checkboxes {
  padding-left: 35px;

  text-align: left;
}

.button {
  padding: 10px 30px !important;
  margin-top: 40px !important;

  color: var(--secondary-text-color) !important;

  background-color: var(--main-bg-color) !important;
}

.button:hover {
  background-color: var(--primary-text-color) !important;
}

.redirect {
  margin-top: 20px !important;
}
