.mainBg {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: calc(100vh - var(--footer-height) - var(--header-height));
  align-items: center;
  background-image: url(../../assets/bg/bg-main.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainPageText {
  max-width: 400px;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 2em;
  border-radius: 10px !important;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.promocodes {
  color: var(--secondary-text-color);
}

.promocodeItems {
  margin-top: 20px !important;
  color: var(--secondary-text-color);
}

@media (max-width: 1000px) {
  .mainBg {
    justify-content: space-evenly;
  }
  .mainPageText {
    width: 100%;
  }
}
