.grid {
  text-align: center;
  margin: 0 auto !important;
  width: 60vw !important;
}

.button {
  width: 70% !important;
  padding: 10px 0 !important;
  align-items: center;
}

.cross {
  position: absolute;
  right: 0;
}

.passwordButtonContainer,
.editButtonContainer {
  margin-top: 5px !important;
}

.addresses {
  margin-top: 50px;
  text-align: center;
}

.stack {
  text-align: left;
}
