.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px !important;
  max-width: 500px;
  width: 50vw;
  height: 30vh;
  padding: 4px;

  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-text-color);
  box-shadow: 24;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  text-align: center;
}

.button {
  max-width: 150px;
  width: 50%;
  padding: 10px 0 !important;
  margin-top: 10px !important;
}

.button:hover {
  filter: brightness(85%);
}
