.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px 10px;
  max-width: 500px;
  width: 50vw;
  max-height: 450px;
  height: 100%;

  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-text-color);
  box-shadow: 24;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  text-align: center;
}

.buttonsWrapper {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.button {
  max-width: 150px;
  width: 100%;
  padding: 10px 0 !important;
  margin-top: 10px !important;
}

.button_disabled {
  max-width: 150px;
  width: 50%;
  padding: 10px 0 !important;
  margin-top: 10px !important;
}

.button_disabled::after {
  content: ' ';
  display: block;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 6px solid var(--secondary-text-color);
  border-color: var(--secondary-text-color) transparent var(--secondary-text-color) transparent;
  animation: lds-dual-ring var(--animation-duration) linear infinite;
}

.serverError {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: var(--main-invalid-color);
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inputs {
  width: 100%;
}

.inputs > div {
  margin: 10px auto !important;
}

@media (max-width: 700px) {
  .modal {
    width: 90vw;
    height: auto;
  }
}
