.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px !important;
  width: 40vw;
  height: 40vh;
  padding: 4px;

  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-text-color);
  box-shadow: 24;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  text-align: center;
}

.button {
  width: 50%;
  height: 25%;
  margin-top: 20px !important;
  color: var(--secondary-text-color);
  background-color: var(--main-bg-color);
}

.button:hover {
  filter: brightness(85%);
}
