.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo {
  text-decoration: none;
  color: black;

  transition: opacity 0.5s ease;
}

.logo:hover {
  opacity: 0.5;
}
