:root {
  --main-bg-color: #41596e;
  --secondary-bg-color: #cfccd6;
  --primary-text-color: #37393a;
  --secondary-text-color: #fff;
  --main-invalid-color: #ff6464;

  --header-height: 75px;
  --footer-height: 42px;
  --breadcrumbs-height: 55px;
}
