.body {
  display: flex;
  height: calc(100vh - var(--footer-height) - var(--header-height));
  width: 100%;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 40%;
  min-height: 50vh;
  margin: 8vh;
  padding: 4vh;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border-radius: 10px;
  border: 5px solid var(--main-bg-color);
}

.form {
  display: flex;
  width: 100%;
  min-height: 30vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 4vh;
}

.logInBtn {
  width: fit-content;
}

.link {
  margin-left: 5px !important;
  text-decoration: none;
  color: #0b8bd5;
}

.link:hover {
  text-decoration: underline;
}
