.imgDot,
.imgActiveDot {
  width: auto;
  height: 9vh;
}

.imgDot {
  opacity: 0.4;
}

.imgDot:hover {
  filter: brightness(0.6);
}

.imgActiveDot {
  opacity: 1;
}

.thumbnail {
  padding: 5% 0;
  justify-content: space-between;
  align-items: center;
}

.thumbnailModal {
  position: absolute;
  top: calc(50vh - 61px / 2);
  width: 80vh;
  padding: 0px 1%;
  justify-content: space-between;
}

.iconButton {
  height: fit-content;
  align-self: center;
  background-color: var(--secondary-text-color) !important;
}

.iconButton:hover {
  background-color: var(--secondary-bg-color) !important;
}

.arrowImg {
  height: 4.5vh;
}
