.imgDot,
.imgActiveDot {
  width: auto;
  height: 75px;
}

.imgDot {
  opacity: 0.4;
}

.imgActiveDot {
  opacity: 1;
}

.thumbnail {
  padding: 5% 0;
  justify-content: space-between;
  align-items: center;
}

.iconButton {
  height: fit-content;
  align-self: center;
}

.arrowImg {
  height: 45px;
}
