.developer {
  align-items: center;
  color: var(--main-bg-color);
  height: calc(var(--footer-height) - 3px);
}

.developer p {
  cursor: default;
}

.developer_link {
  height: 35px;
  margin: 2px !important;
}

.developer_link__img {
  width: 35px;
  height: 35px;
}
