.discount {
  color: var(--main-invalid-color);
  text-wrap: nowrap;
}

.oldPrice {
  text-decoration: line-through;
  text-wrap: nowrap;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
