.notFoundContainer {
  align-items: end;
  text-align: center;
  justify-content: center;
  height: 90vh;
  padding: 2em;
  background-image: url(../../assets/bg/bg-404.png);
  width: 100%;
  background-position: center;
  background-size: 100%;
  background-position-y: -5vh;
}

.notFoundContainer_text {
  align-items: center;
  width: 60%;
}

.notFoundContainer_text p {
  margin-top: 0.5em !important;
}

.divider {
  line-height: 3;
}
