.developer {
  display: flex;
  height: calc(var(--footer-height) - 4px);
  gap: 5px;
  margin: 2px !important;
  margin-top: 3px !important;
  align-items: center;
  color: var(--main-bg-color);
  text-decoration: none !important;
}

.developer:hover {
  opacity: 0.6;
}

.developer_link {
  height: 35px;
  margin: 2px !important;
  margin-top: 3px !important;
}

.developer_link__img {
  width: 35px;
  height: 35px;
}
